@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #0E0A0A;
  --backgroundSecondy-color: #110E0E;

  --white-color: #F3F3F3;
  --pink-color: #FF3F79;
  --lightPink-color: #FF6F8C;

  --sucess-color: #0FC470;
  --remove-color: #DB2E4C;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0E0A0A;

}